
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.2.5
command-not-found==0.3
configglue==1.1.2
cssselect==0.9.1
debtagshw==0.1
decorator==3.4.0
dirspec==13.10
dnspython==1.11.1
duplicity==0.6.23
enum34==1.1.6
f.lux-indicator-applet==1.1.8
feedparser==5.1.3
future==0.16.0
futures==3.1.1
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.4
gapic-google-cloud-spanner-admin-database-v1==0.15.3
gapic-google-cloud-spanner-admin-instance-v1==0.15.3
gapic-google-cloud-spanner-v1==0.15.3
google-api-python-client==1.6.4
google-auth==1.1.1
google-cloud==0.27.0
google-cloud-bigquery==0.26.0
google-cloud-bigtable==0.26.0
google-cloud-core==0.26.0
google-cloud-datastore==1.2.0
google-cloud-dns==0.26.0
google-cloud-error-reporting==0.26.0
google-cloud-language==0.27.0
google-cloud-logging==1.2.0
google-cloud-monitoring==0.26.0
google-cloud-pubsub==0.27.0
google-cloud-resource-manager==0.26.0
google-cloud-runtimeconfig==0.26.0
google-cloud-spanner==0.26.0
google-cloud-speech==0.28.0
google-cloud-storage==1.3.2
google-cloud-translate==1.1.0
google-cloud-videointelligence==0.25.0
google-cloud-vision==0.26.0
google-gax==0.15.15
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.6.3
gyp==0.1
html5lib==0.999
httplib2==0.10.3
idna==2.6
ipython==1.2.1
lockfile==0.8
lxml==3.3.3
Mako==0.9.1
MarkupSafe==0.18
monotonic==1.3
numpy==1.8.2
oauth2client==3.0.0
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
PAM==0.4.2
paramiko==1.10.1
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
ply==3.8
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
proto-google-cloud-pubsub-v1==0.15.4
proto-google-cloud-spanner-admin-database-v1==0.15.3
proto-google-cloud-spanner-admin-instance-v1==0.15.3
proto-google-cloud-spanner-v1==0.15.3
protobuf==3.4.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygame===1.9.1release
pygobject==3.12.0
pyinotify==0.9.4
pyOpenSSL==0.13
pyparsing==2.2.0
pyPdf==1.13
pyquery==1.2.9
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==2.6.3
python-apt===0.9.3.5ubuntu2
python-debian===0.1.21-nmu2ubuntu2
python-xlib==0.14
SimpleCV==1.3
simplegeneric==0.8.1
six==1.11.0
svgwrite==1.1.11
system-service==0.1.6
web.py==0.38
